/* CONFIGURAÇÕES GERAIS */

body {
    background-color: rgb(18, 44, 18);
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

a {
    padding: 20px;
    font-size: 40px;
}

img {
    box-shadow: 0px 0px 6px lightgreen;
    text-align: center;
    display: block;
    border: solid 4px lightgreen;
    margin: auto;
}

p {
    color: white;
    text-align: justify;
    font-size: 40px;
}

h2 {
    color: rgb(123, 245, 123);
    text-shadow:
        0px 0px 10px lightgreen;
    text-align: center;
    font-size: 50px;
}

legend {
    color: rgb(123, 245, 123);
    text-shadow:
        0px 0px 10px lightgreen;
    text-align: center;
    font-size: 50px;
}

h1 {
    color: rgb(123, 245, 123);
    text-shadow:
        0px 0px 40px lightgreen;
    text-align: center;
    font-size: 100px;
}

fieldset {
    margin: auto;
    margin-bottom: 50px;
    border: 4px solid green;
    border-radius: 40px;
    width: 700px;
}

li {
    color: white;
    text-align: justify;
    font-size: 40px;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: white;

}

table {
    border: 2px;
    font-size: 20px;
    color: lightgreen;
    width: 103%;
    height: 500px;
}

tr {
    text-align: center;
}

th,
td {
    border: 2px solid;
    color: lightgreen;
    font-size: 5px;
}

.centro {
    align-items: center;
    align-content: center;
    text-align: center;
}

/*CLASSES*/

.titulo1 {
    border: 4px solid green;
    border-radius: 60px;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(18, 44, 18, 0.5);
    padding-bottom: 50px;
    justify-content: center;
}

.titulo2 {
    border: 4px solid green;
    border-radius: 60px;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(18, 44, 18, 0.5);
    padding-bottom: 50px;
    justify-content: center;
}

.titulo3 {
    border: 4px solid green;
    border-radius: 60px;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(18, 44, 18, 0.5);
    padding-bottom: 50px;
    justify-content: center;
}

.p {
    text-align: center;
    font-size: 39px;
}

.p a {
    color: aliceblue;
}

.p a:hover {
    color: lightgreen;
}

.rodape {
    background-color: #2b8328;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 30px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
}

.header {
    background-color: #164202;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- ELEMENTOS ÚNICOS IDS --- */

#container {
    max-width: 1200px;
    width: 70vw;
    background-color: rgba(18, 44, 18, 0.5);
    padding: 20px;
}